*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


/* GENERAL STYLING */
body{
   
    background-color: rgb(241, 241, 241);
   
}

#wrap{
    height: 100vh;
    width: 100%;
   
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: rgb(209, 208, 208) 2px 2px 10px;
    
}
#signupPage{
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    box-shadow: rgb(209, 208, 208) 2px 2px 10px;
    background-color: rgb(15, 15, 15);
    background-image: url(img/pngwing.png);
    background-position:top;   
    background-repeat: no-repeat;
    transition: all .5s ease;
}

#loginPage{
    height:100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    box-shadow: rgb(209, 208, 208) 2px 2px 10px;
    background-color: rgb(15, 15, 15);
    background-image: url(img/pngwing.png);
    background-position:top;   
    background-repeat: no-repeat;
    transition: all .5s ease;
}
#firstCart{
    height: 100vh;
    width: 100%;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; */
    overflow-x: hidden;
    box-shadow: rgb(209, 209, 208) 2px 2px 10px;
    background-color: rgb(56, 49, 49);
    background-image: url(img/bubbles.png);
    background-position:bottom;   
    background-repeat: no-repeat;
    transition: all .5s ease;
    background-position-y: -100px;
    position: relative;
}
#firstCartOverlay{
    height:80vh;
    width: 100%;
    /* border-radius: 30px; */
    display: flex;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  
    background-color: rgb(255, 255, 255);
    background-position:top;   
    background-repeat: no-repeat;
    transition: all .5s ease;
    overflow-y: scroll;
}

#screenMsg{  
display: none;
text-align: center;
 }



 /* FIRST PAGE */
 
.frontTxt {
margin-top: 60px;
}
.frontTxt p{
width: 80%;
margin: 0 auto;
   }
.frontBtn{
 border: none;
 transition: all .3s ease;
 }
 .frontBtn,.signupBtn,.loginBtn{
    background-color: rgb(248, 56, 8);
    color: white;
    border: 0;
}
.frontBtn:hover,.signupBtn:hover,.loginBtn:hover{
    background-color: rgb(212, 166, 15);
}

/* Cart */
.HomeLogoutCart span:hover{
    cursor: pointer;
    color: rgb(243, 189, 9);
}
.cart{
    position: relative;
}
.cartCount{
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
    margin-top: 20px;
    background-color: red;
}

/* FOOD LIST */

.foodTitle, .foodPrice{
    font-size: 18px;
    text-align: center;
}
.foodSpread{
    justify-content: space-around;
}
.addToCartBtn{
    background-color: rgb(207, 9, 9);
    border: none;
    color: white;
   width: 100%;
    font-size: 16px;
}
.addToCartBtn:hover{
    background-color: green;
}
#total{
   margin-left: 60px;
   position: absolute;
   bottom: 60px;
}
#total p{
  margin-right: 60px;
 }

/* CART BOX */

#cartBox{
    width: 300px;
    height: 80vh;
    position: absolute;
    background-color: rgba(240, 159, 8, 0.945);
    z-index: 1000;
    right: 0;
    bottom: 0;
    display: none;
    padding: 20px;
}
/* CartBox List From Cart */
#cartBox li{
    list-style: none;
}

.buttons{
    display: flex;
   position:absolute;
    bottom: 20px;
    margin-left: 50px;
}
#cartBox button{
    padding: 8px 20px;
    border: 0;
}






/* //////////////////////////MEDIA QUERY//////////////////////////////////// */



@media (min-width:768px) {
      /* #screenMsg{  
        display: block;
        color: rgb(255, 255, 255);
       }
       #wrap,#signInPage{
        background-color: rgb(255, 14, 14);
    }
    .mainApp{
        display: none;
    }    */
}

@media (max-width:767px) {
    .foodTitle, .foodPrice{
        font-size: 12px;
    }
    .foodSpread{
        justify-content: space-between;
    }
 
}
